[data-module="marionette_ui"][data-application="vertical_scroller"][data-template="default"] {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}
[data-module="marionette_ui"][data-application="vertical_scroller"][data-template="default"] .scroller-button {
  position: absolute;
  width: 100%;
  min-height: 30px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

[data-module="example"][data-application="example"][data-template="default"] {
  position: relative;
  width: 150px;
}
[data-module="example"][data-application="example"][data-template="default"] [data-ui="scroller-outer"] {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
