[data-ui="scroller-outer"]
    overflow: hidden

[data-module="marionette_ui"][data-application="vertical_scroller"][data-template="default"]
    position: absolute
    width: 10px
    height: 100%
    top: 0
    right: 0
    //opacity: 0
    .scroller-button
        position: absolute
        width: 100%
        min-height: 30px
        background-color: rgba(0,0,0,0.5)
        border-radius: 5px
